<% @page.each do |b| %>
<li><h1><%=b.user.email%></h1>
<%=b.content%>
</li>

<div class="edit&delet" align="right">
    <a href="/edit?id=<%=b.id%>">수정</a>
    <a href="/destroy?id=<%=b.id%>">삭제</a>
</div>
<% end %>